#main {
display: -webkit-inline-flex;
display: flex;

 -webkit-flex-direction: row;
 flex-direction: row;

  -webkit-justify-content: space-around;
  justify-content: space-around;

}

#one {
-webkit-flex-grow: 1;
flex-grow: 1;
}

#two {
-webkit-flex-grow: 1;
flex-grow: 1;
}

#three {
-webkit-flex-grow: 1;
flex-grow: 1;
}

#happymain {
max-width: 100%;
height: auto;
}

