#main {
display: block;

 width: 99%;
 top: 5%;
 margin: auto;

}

#one {
width:32%;
padding: 5px;
float: left;
margin: auto ;
}

#two {
width:32%;
padding: 5px;
float: left;
margin: auto;
}

#three {
width: 32%;
padding: 5px;
float: left;
margin: auto;
}

img {
max-width: 90%;
height: auto;
margin-left: 6%;
margin-right: 6%;
}

img:hover {
border: 3px solid #348CFA;
max-width: 92%;
height: auto;
}


#foot {
bottom: 1px;
left:auto;
right:auto;
display: none;
}

@supports (display: flex) {

#main {
display: -webkit-inline-flex;
display: flex;

 -webkit-flex-direction: row;
 flex-direction: row;

  -webkit-justify-content: space-around;
  justify-content: space-around;

 top: 5%;

}

#one {
-webkit-flex-grow: 1;
flex-grow: 1;
padding: 5px;
}

#two {
-webkit-flex-grow: 1;
flex-grow: 1;
padding: 5px;
}

#three {
-webkit-flex-grow: 1;
flex-grow: 1;
padding: 5px;
}

img {
max-width: 90%;
height: auto;
}

img:hover {
border: 3px solid #348CFA;
max-width: 93%;
height: auto;
}

/*================Media Queries=================*/

@media only screen and (max-width: 768px) {
    
#main {
display: -webkit-inline-flex;
display: flex;

flex-direction: column;

justify-content: space-around;
 
align-items: center;

}

#one {
-webkit-flex-grow: 1;
flex-grow: 1;
padding: 5px;
}

#two {
-webkit-flex-grow: 1;
flex-grow: 1;
padding: 5px;
}

#three {
-webkit-flex-grow: 1;
flex-grow: 1;
padding: 5px;
}


img {
max-width: 80%;
height: auto;

}

img:hover {
border: 3px solid #348CFA;
max-width: 85%;
height: auto;
}

}

