#borderr0 {
display: -webkit-inline-flex;
display: flex;

 -webkit-flex-direction: column;
 flex-direction: column;

 -webkit-justify-content: space-around;
 justify-content: space-around;
align-items: center;

}

#choice {
-webkit-flex-grow: 1;
flex-grow: 1;
padding: 5px;
}

#borderr1 {
display: -webkit-inline-flex;
display: flex;

 -webkit-flex-direction: column;
 flex-direction: column;

 -webkit-justify-content: space-around;
 justify-content: space-between;
align-items: center;

}

#borderradius {
-webkit-flex-grow: 1;
flex-grow: 1;
padding: 5px;
}

#inputborder {
-webkit-flex-grow: 1;
flex-grow: 1;
padding: 5px;
}

img {
max-width: auto;
height: auto;
}